<footer class="home-footer">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between border-top border-bottom">
            <div class="col-md-8 text-center mt-3 mb-3 text-md-left text-sm-center flinks">
                <a routerLink="/about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a> |
                <a routerLink="/support" data-toggle="collapse" data-target=".navbar-collapse.show">Support</a> |
                <a routerLink="/contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact</a>
            </div>
            <div class="col-md-4 mt-3 mb-3 text-md-right text-center text-sm-center pl-0">
                <div class="social-media w-100 d-flex justify-content-md-end justify-content-center">
                    <a href="https://www.facebook.com/y2rwrapcorner-112476620676814/?modal=suggested_action&notif_id=1606371997208838&notif_t=page_user_activity&ref=notif" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/y2r_wrapcorner/" rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/y2rwrapcorner" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="mailto:y2rwrapcorner@gmail.com" rel="noopener noreferrer" target="_blank"><i class="fad fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>