<!--title-->
<section class="order-section-header">
    <div class="container pl-3 p-sm-3">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>How to order ?</h2>
            </div>
        </div>
    </div>
</section>
<!--Order area-->
<div class="container-fluid order-heading pt-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>" Steps to be followed for a proper purchase "</h3>
            <hr>
        </div>
    </div>
</div>
<div class="container pt-4 pb-4">
    <ol class="list-of-items">
        <li>
            <h4><b>Choose the correct " Rooms "</b>, This will take you to the correct section, What you are looking to present for the right person.</h4>
        </li>
        <li>
            <h4><b>Choosing the right product with the given information</b> , See the given statement for the product like, The size, price , etc.</h4>
        </li>
        <li>
            <h4><b>Choosing the order option</b>, After choosing the product click the order button below the product.</h4>
        </li>
        <li>
            <h4><b>Redirected to mail</b>, While clicking the order button, You will be redirected to your default mail application [eg: Outlook, Gmail...etc].</h4>
        </li>
        <li>
            <h4><b>Place your order in Mail</b>, we made all the order placing in the official mail, So you have to place your order in our mail box.</h4>
        </li>
        <li>
            <h4><b>How to order in mail ?</b>, You have to identify the product name that you want to purchase and include the size(optional), Then we will ask the required things like photos(should be in a good quality-HD recommended), Text..etc.</h4>
        </li>
        <li>
            <h4><b>When all the details are satisfied</b>, Finally we will send you G-pay, Paytm, Paypal Id's, You can transfer the money over here.</h4>
        </li>
        <li>
            <h4><b>No Cash-On-Delivery</b>, Order's placing in Y2Rwrapcorner will be accepted, when you send payment screenshot.</h4>
        </li>
        <li>
            <h4><b>Return when product is damaged</b>, Please make a unboxing video, Because we will return your money only when we received the unboxing video.</h4>
        </li>
        <li>
            <h4><b>Money will be returned within 5-working days</b>, When the product damage is approved. We will return your money within 5-Working days.</h4>
        </li>
    </ol>
</div>

<div class="container pb-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h5>Thank you !</h5>
        </div>
    </div>
</div>