<!---->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>About us</h1>
        </div>
    </div>
</div>
<hr width="60%">
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="intro">
                Hello at
                <b>Y2R wrapcorner,</b> " we're created a small startup ", That let you to
                <b>Shop customized gifts items through online</b> we made our customers to get their <b>Own gift stuffs</b> . We made shopping easier for our customers, So that customers can easily get into the selection process for what purpose they
                looking for a gift item.
            </p>
        </div>
    </div>
</div>
<!---->
<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-md-5">
            <p class="headline">
                <b>Made in INDIA,</b><br> For the Indian customers
            </p>
        </div>
        <div class="col-md-7">
            <p class="about-content">
                <b>Y2R Wrapcorner </b>is a Indian company, specially made for Indian user's. Inida is a country where there is a lot of tradition and culture around it, So we decided to hit the boundaries through out India with our gift products, So that
                we can take our products to your doorstep wherever would be our customer, We can deliver you what you want to present to your loved one.
            </p>
        </div>
    </div>
</div>