<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Contact us</h1>
        </div>
    </div>
</div>
<hr width="60%">

<section class="contactus-section-subheader pt-lg-4 pt-sm-3 pb-lg-4 pb-sm-3">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h6>
                    We are here to help you, (24X7) service is available, Any issues and error's you're facing with <b>Y2R wrapcorner</b>, Contact Us....
                </h6>
            </div>
        </div>
    </div>
</section>
<div class="container quote mt-lg-4 mt-sm-2 mb-lg-4 mb-sm-2">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h4><b>Y2Rwrapcorner has customer care service</b>, We respect our customers and we're daily improving our service for our customers, In case we're not concentrating in any part of Y2Rwrapcorner that might be an issue, You contact us at any time..
                You can Contact us via <b>G-mail, Facebook, Instagram, Twitter</b>. These medias are not only for our customer updates, We also listen their needs and what issues they are facing.</h4>
        </div>
        <div class="col-md-4 social-media text-center">
            <h3 class="head pt-3 pb-2">Contact info</h3>
            <a href="mailto:y2rwarpcorner@gmail.com"><i class="fad fa-envelope"></i></a>
            <a href="https://www.facebook.com/y2rwrapcorner-112476620676814/?modal=suggested_action&notif_id=1606371997208838&notif_t=page_user_activity&ref=notif" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/y2r_wrapcorner/" rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/y2rwrapcorner" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i></a>
            <hr class="hr2" width="80%">
            <h3 class="address">Address</h3>
            <p class="address-details">338/1b, New colony 2nd cross, <br> Vallalar street, Melamaiyur, Chengalpattu-603002
            </p>
        </div>
    </div>
</div>