<!--Nav area-->
<nav id="navbar" class="navbar sticky-top navbar-expand-xl py-0 navbar-light rectangleshadow">
    <a class="navbar-brand mx-sm-auto" routerLink="/"><img class="img-fluid" src="../assets/img/logo.svg" alt=""></a>
    <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto" id="y2r-nav">
            <li class="nav-item">
                <a class="nav-link" id="homelink" routerLink="/" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fad fa-home fa-lg p-2" style="color: #000000;"></i></a>
            </li>
            <li class="nav-item dropdown has-megamenu pt-1">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                Products
              </a>
                <div class="dropdown-menu megamenu" role="menu">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-megamenu headline-inside-megamenu text-center">
                                <h6 class="headline pb-lg-3 pb-sm-2"><a style="color: #000000; text-decoration: none;" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/tshirt">T-Shirt</a></h6>
                                <ul class="list-unstyled megalist pb-3">
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/vneck">V - Neck</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/roundneck">Round - Neck</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/withcollar">With collar</a>
                                    </li>
                                </ul>
                            </div>
                            <!--col-megamenu-->
                        </div>
                        <!--end of 1st col-->
                        <div class="col-md-4">
                            <div class="col-megamenu headline-inside-megamenu text-center">
                                <h6 class="headline pb-lg-3 pb-sm-2"><a style="color: #000000; text-decoration: none;" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/softtoys">Soft Toys</a></h6>
                                <ul class="list-unstyled megalist pb-3">
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/teddy">Teddy Bears</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/character">Cartoons</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/animals">Animals</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/blobby">Blobby</a>
                                    </li>
                                </ul>
                            </div>
                            <!--col-megamenu-->
                        </div>
                        <!--end of 2nd col-->
                        <div class="col-md-4">
                            <div class="col-megamenu headline-inside-megamenu text-center">
                                <h6 class="headline pb-lg-3 pb-sm-2"><a style="color: #000000; text-decoration: none;" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/customgift">Custom Gitfs</a></h6>
                                <ul class="list-unstyled megalist pb-3">
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/pillow">Pillow's</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/mug">Coffee Mug</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/mirror">Magic Mirror</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/art">Art Works</a>
                                    </li>
                                    <li class="list-item pb-lg-3 pb-md-1 pb-sm-1">
                                        <a data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/mobilecase">Mobile Case</a>
                                    </li>
                                </ul>
                            </div>
                            <!--col-megamenu-->
                        </div>
                        <!--end of 3rd col-->
                    </div>
                </div>
            </li>
            <li class="nav-item pt-1">
                <a class="nav-link" routerLink="/about" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">About us</a>
            </li>
            <li class="nav-item pt-1">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Contact us</a>
            </li>
            <li class="nav-item pt-1">
                <a class="nav-link" routerLink="/support" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Support</a>
            </li>
        </ul>
    </div>
</nav>
