<section class="animals-headline pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="header-title pt-2">Animals</h2>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item "><a routerLink="/softtoys">Soft Toys</a></li>
        <li class="breadcrumb-item "><a routerLink="/teddy">Teddy Bear</a></li>
        <li class="breadcrumb-item "><a routerLink="/character">Cartoons</a></li>
        <li class="breadcrumb-item active item-active" aria-current="page">Animals</li>
        <li class="breadcrumb-item "><a routerLink="/blobby">Blobby</a></li>
    </ol>
</nav>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------Products area------------------------------------------------------------------>
<section class="animal-content pt-xl-5 pt-lg-5 pb-xl-3 pb-lg-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="combo-text">
                    Our Panda Family
                </h2>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/animals/panda-combo-toy.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Mini Panda</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">799/-</s> 549/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/animals/tiger-toy-combo.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Tiger Sibling</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">1,199/-</s> 999/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/animals/dog-toy-combo.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Puppies</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">1,499/-</s> 1,199/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/animals/panda-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h3 class="info-text">Panda (Standable)</h3>
                <h5 class="info-text">S-size
                    <p class="panda-price-text">Price: <s class="offer">399/-</s> 329/-</p>
                </h5>
                <h5 class="info-text">M-size
                    <p class="panda-price-text">Price: <s class="offer">499/-</s> 429/-</p>
                </h5>
                <h5 class="info-text">2-feet
                    <p class="panda-price-text">Price: <s class="offer">649/-</s> 599/-</p>
                </h5>
                <h5 class="info-text">3-feet
                    <p class="panda-price-text">Price: <s class="offer">999/-</s> 899/-</p>
                </h5>
                <h5 class="info-text">4-feet
                    <p class="panda-price-text">Price: <s class="offer">1,299/-</s> 1,249/-</p>
                </h5>
                <h5 class="info-text">5-feet
                    <p class="panda-price-text">Price: <s class="offer">1,649/-</s> 1,549/-</p>
                </h5>
                <h5 class="info-text">6-feet
                    <p class="panda-price-text">Price: <s class="offer">2,999/-</s> 2,799/-</p>
                </h5>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/animals/white-tiger-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">White Tiger</h1>
                <h3 class="info-text">S-size
                    <p class="price-text">Price: <s class="offer">499/-</s> 349/-</p>
                </h3>
                <h3 class="info-text">L-size
                    <p class="price-text">Price: <s class="offer">849/-</s> 729/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/animals/brown-tiger-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Orange Tiger</h1>
                <h3 class="info-text">S-size
                    <p class="price-text">Price: <s class="offer">499/-</s> 349/-</p>
                </h3>
                <h3 class="info-text">L-size
                    <p class="price-text">Price: <s class="offer">699/-</s> 599/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/animals/dog-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Puppy</h1>
                <h3 class="info-text">S-size
                    <p class="price-text">Price: <s class="offer">499/-</s> 349/-</p>
                </h3>
                <h3 class="info-text">M-size
                    <p class="price-text">Price: <s class="offer">549/-</s> 399/-</p>
                </h3>
                <h3 class="info-text">L-size
                    <p class="price-text">Price: <s class="offer">599/-</s> 499/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
