<section class="blobby-headline pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="header-title pt-2">Blobby</h2>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item "><a routerLink="/softtoys">Soft Toys</a></li>
        <li class="breadcrumb-item "><a routerLink="/teddy">Teddy Bear</a></li>
        <li class="breadcrumb-item "><a routerLink="/character">Cartoons</a></li>
        <li class="breadcrumb-item "><a routerLink="/animals">Animals</a></li>
        <li class="breadcrumb-item active item-active" aria-current="page">blobby</li>
    </ol>
</nav>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------Products area------------------------------------------------------------------>
<section class="animal-content pt-xl-5 pt-lg-5 pb-xl-3 pb-lg-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="combo-text">
                    Our Blobby Area
                </h2>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/blobby/nippon-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Nippon</h1>
                <p class="price-text">Price: <s class="offer">349/-</s> 299/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/blobby/emoji-keychain.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Emoji Pack</h1>
                <h3 class="info-text">12-Piece
                    <p class="price-text">Price: <s class="offer">549/-</s> 469/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/blobby/smile-emoji-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Smile Emoji</h1>
                <p class="price-text">Price: <s class="offer">299/-</s> 209/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/blobby/kiss-emoji-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Kiss Emoji</h1>
                <p class="price-text">Price: <s class="offer">299/-</s> 209/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/blobby/heart-emoji-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Heart Emoji</h1>
                <p class="price-text">Price: <s class="offer">299/-</s> 209/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
