<section class="cartoons-headline pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="header-title pt-2">Cartoons</h2>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item "><a routerLink="/softtoys">Soft Toys</a></li>
        <li class="breadcrumb-item "><a routerLink="/teddy">Teddy Bear</a></li>
        <li class="breadcrumb-item active item-active" aria-current="page">Cartoons</li>
        <li class="breadcrumb-item "><a routerLink="/animals">Animals</a></li>
        <li class="breadcrumb-item "><a routerLink="/blobby">Blobby</a></li>
    </ol>
</nav>
<!---------------------------------------------------------------------------------------------------------------------------------------------->

<!-------------------------------Products area------------------------------------------------------------------>
<section class="teddy-content pt-xl-5 pt-lg-5 pb-xl-3 pb-lg-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="combo-text">
                    Our Cartoon Hero's
                </h2>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------->

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/pikachu-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Pikachu</h1>
                <h3 class="info-text">2-feet
                    <p class="price-text">Price: <s class="offer">499/-</s> 399/-</p>
                </h3>
                <h3 class="info-text">2.5-feet
                    <p class="price-text">Price: <s class="offer">599/-</s> 499/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/winnie-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Pooh</h1>
                <p class="price-text">Price: <s class="offer">649/-</s> 499/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/minnion-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Minion</h1>
                <p class="price-text">Price: <s class="offer">499/-</s> 349/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/duck-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Crazy Duck</h1>
                <p class="price-text">Price: <s class="offer">649/-</s> 499/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/sinchan-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Sinchan</h1>
                <h3 class="info-text">S-size
                    <p class="price-text">Price: <s class="offer">349/-</s> 249/-</p>
                </h3>
                <h3 class="info-text">M-size
                    <p class="price-text">Price: <s class="offer">499/-</s> 299/-</p>
                </h3>
                <h3 class="info-text">L-size
                    <p class="price-text">Price: <s class="offer">599/-</s> 399/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/dora-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Dora</h1>
                <p class="price-text">Price: <s class="offer">649/-</s> 499/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/cartoons/buji-toy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Buji</h1>
                <p class="price-text">Price: <s class="offer">499/-</s> 399/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/doremon-pillow.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Doremon</h1>
                <p class="price-text">Price: <s class="offer">449/-</s> 329/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
