<section class="teddy-headline pt-3">
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-12 text-center">
                <h2 class="header-title pt-2">Teddy Bear</h2>
            </div>
        </div>
    </div>
</section>
<!--------------------------------Bread crum---------------------------------------------------->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item "><a routerLink="/softtoys">Soft Toys</a></li>
        <li class="breadcrumb-item active item-active" aria-current="page">Teddy Bear</li>
        <li class="breadcrumb-item "><a routerLink="/character">Cartoons</a></li>
        <li class="breadcrumb-item "><a routerLink="/animals">Animals</a></li>
        <li class="breadcrumb-item "><a routerLink="/blobby">Blobby</a></li>
    </ol>
</nav>
<!------------------------------------------------------------------------------------------------->

<!-------------------------------Products area------------------------------------------------------------------>
<section class="teddy-content pt-xl-5 pt-lg-5 pb-xl-3 pb-lg-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="combo-text">
                    Our Teddy Family
                </h2>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/teddy/hat-teddy-combo.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Hat Teddy</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">2999/-</s> 2499/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/teddy/teddy-combo.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Teddy Family</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">4999/-</s> 4299/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/teddy/tiny-teddy-combo.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Mini Fur Teddy</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">649/-</s> 549/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/teddy/mini-teddy-combo.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Tiny Heart Teddy</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">649/-</s> 549/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------->
<section class="teddy-combo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="../assets/img/softtoys/teddy/mini-teddy-combo-2.svg" class="img-fluid" alt="">
                <h2 class="product-text pt-4">Tiny Heart Teddy</h2>
                <h3 class="product-text">Come's with combo offer</h3>
                <h3 class="price-text">Price: <s class="offer">599/-</s> 499/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<hr width="80%">
<!------------------------------------------------------------------------------------------------->

<!--------------------------------------------------------------Teddy alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/teddy/jean-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Jean Teddy</h1>
                <h3 class="price-text">Price: <s class="offer">599/-</s> 529/-</h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">

<!--------------------------------------------------------------Teddy alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/teddy/hat-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Hat Teddy</h1>
                <h3 class="info-text">2-feet
                    <p class="price-text">Price: <s class="offer">699/-</s> 649/-</p>
                </h3>
                <h3 class="info-text">3-feet
                    <p class="price-text">Price: <s class="offer">899/-</s> 849/-</p>
                </h3>
                <h3 class="info-text">3.5-feet
                    <p class="price-text">Price: <s class="offer">1,199/-</s> 1,149/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------Teddy alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/teddy/layered-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Layered Teddy</h1>
                <h5 class="product-text">Color's: Pink, Red, Blue</h5>
                <h3 class="info-text">3-feet
                    <p class="price-text">Price: <s class="offer">1,199/-</s> 1,099/-</p>
                </h3>
                <h3 class="info-text">4-feet
                    <p class="price-text">Price: <s class="offer">1,999/-</s> 1,849/-</p>
                </h3>
                <h3 class="info-text">6-feet
                    <p class="price-text">Price: <s class="offer">2,999/-</s> 2,799/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------Teddy alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/teddy/fluffy-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Fluffy Teddy</h1>
                <h5 class="product-text">Color's: Red, Blue, Violet, Yellow</h5>
                <h3 class="info-text">4-feet
                    <p class="price-text">Price: <s class="offer">1,799/-</s> 1,649/-</p>
                </h3>
                <h3 class="info-text">5-feet
                    <p class="price-text">Price: <s class="offer">2,499/-</s> 2,399/-</p>
                </h3>
                <h3 class="info-text">6-feet
                    <p class="price-text">Price: <s class="offer">2,999/-</s> 2,799/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------Teddy alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/teddy/Duo-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Duo Tone Teddy</h1>
                <h5 class="product-text">Color's: Pink, Red, Blue</h5>
                <h3 class="info-text">3-feet
                    <p class="price-text">Price: <s class="offer">1,099/-</s> 999/-</p>
                </h3>
                <h3 class="info-text">3.5-feet
                    <p class="price-text">Price: <s class="offer">1,199/-</s> 1,099/-</p>
                </h3>
                <h3 class="info-text">4-feet
                    <p class="price-text">Price: <s class="offer">1,999/-</s> 1,849/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------Teddy alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/teddy/pair-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Duo Teddy</h1>
                <h3 class="info-text">S-size
                    <p class="price-text">Price: <s class="offer">499/-</s> 299/-</p>
                </h3>
                <h3 class="info-text">M-size
                    <p class="price-text">Price: <s class="offer">699/-</s> 399/-</p>
                </h3>
                <h3 class="info-text">L-size
                    <p class="price-text">Price: <s class="offer">749/-</s> 4499/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
