<section class="pillow-headline pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="header-title pt-2">Pillow's</h2>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item "><a routerLink="/customgift">Custom Gift's</a></li>
        <li class="breadcrumb-item active item-active" aria-current="page">Pillow's</li>
        <li class="breadcrumb-item "><a routerLink="/mug">Coffee Mug</a></li>
        <li class="breadcrumb-item "><a routerLink="/mirror">Magic Mirror</a></li>
        <li class="breadcrumb-item "><a routerLink="/art">Art Works</a></li>
        <li class="breadcrumb-item "><a routerLink="/mobilecase">Mobile Case</a></li>
    </ol>
</nav>
<!---------------------------------------------------------------------------------------------------------------------------------------------->

<!-------------------------------Products area------------------------------------------------------------------>
<section class="teddy-content pt-xl-5 pt-lg-5 pb-xl-3 pb-lg-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="combo-text">
                    Pillow Section
                </h2>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------->

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/magicpillow-1-0.png" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Magic Pillow</h1>
                <p class="price-text">Price: <s class="offer">749/-</s> 599/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">

<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/heartpillow-1-0.png" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Heart Fur Pillow</h1>
                <p class="price-text">Price: <s class="offer">549/-</s> 449/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/sq-pillow.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Square Fur Pillow</h1>
                <p class="price-text">Price: <s class="offer">499/-</s> 449/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/ledpillow.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">LED Pillow</h1>
                <p class="price-text">Price: <s class="offer">649/-</s> 549/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/heart-pillow.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Heat Pillow</h1>
                <h5 class="info-text">Color: Red, Yellow, Green, Violet</h5>
                <h3 class="info-text">S-size
                    <p class="price-text">Price: <s class="offer">349/-</s> 249/-</p>
                </h3>
                <h3 class="info-text">M-size
                    <p class="price-text">Price: <s class="offer">499/-</s> 299/-</p>
                </h3>
                <h3 class="info-text">L-size
                    <p class="price-text">Price: <s class="offer">549/-</s> 359/-</p>
                </h3>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/satin-pillow.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Satin Pillow</h1>
                <p class="price-text">Price: <s class="offer">499/-</s> 359/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/horse-pillow.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Horse Pillow</h1>
                <p class="price-text">Price: <s class="offer">499/-</s> 399/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
