<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4 pt-lg-5 welcome-text">Welcome</h1>
        <h2 class="display-4 welcome-text">to</h2>
        <img class="img-fluid pb-lg-2" src="../assets/img/logo.svg" alt="">
        <p class="lead pt-lg-3 welcome-text-1">Moment of Choosing best Gifts</p>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------Demo-content-1------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/mirror/circlemagicmirror.png" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Magic Mirror</h1>
                <h3 class="info-text">4-Different types</h3>
                <a routerLink="/mirror" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------Demo-content-2------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/pillow/magicpillow-1-0.png" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Pillow's</h1>
                <h3 class="info-text">5+ Products</h3>
                <a routerLink="/pillow" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------Demo-content-3------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/art/caricature-art-1-0.png" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Art Works</h1>
                <h3 class="info-text">Suites For Your Wall</h3>
                <a routerLink="/art" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------Demo-content-4------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/customgift/mug/printed-mug.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Coffee Mug</h1>
                <h3 class="info-text">Suites For Your Table</h3>
                <a routerLink="/mug" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>

<!--------------------------------------------------------------Demo-content-1------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/demo-teddy.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Teddy Collection's</h1>
                <h3 class="info-text">10+ Varities</h3>
                <h3 class="info-text">5+ Combination's</h3>
                <a routerLink="/teddy" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------Demo-content-2------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/demo-cartoon.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Cartoon character's</h1>
                <h3 class="info-text">Famous Cartoon's</h3>
                <h3 class="info-text">Kid's Special</h3>
                <a routerLink="/character" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------Demo-content-3------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/demo-animal.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Animal Collection's</h1>
                <h3 class="info-text">Lovable Pet's</h3>
                <h3 class="info-text">Size Option's</h3>
                <a routerLink="/animals" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------Demo-content-4------------------------------------------------------------------>
<section class="demo-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img src="../assets/img/softtoys/demo-blobby.svg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Blobby</h1>
                <h3 class="info-text">Blobbies & Emojies</h3>
                <h3 class="info-text">Kid's Special</h3>
                <a routerLink="/blobby" role="button" class="button button-transparent">Checkout<i class="fas fa-angle-right p-2"></i></a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->