<section class="tshirt-headline pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="header-title pt-2">Round-Neck</h2>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item "><a routerLink="/tshirt">T-Shirt</a></li>
        <li class="breadcrumb-item "><a routerLink="/vneck">V-Neck</a></li>
        <li class="breadcrumb-item active item-active" aria-current="page">Round-Neck</li>
        <li class="breadcrumb-item "><a routerLink="/withcollar">With Collar</a></li>
    </ol>
</nav>
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img class="img-fluid" src="../assets/img/tshirts/roundneck-white-003.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-left text-lg-left">
                <h1 class="info-text">Front-side</h1>
                <p class="price-text">Price: <s class="offer">499/-</s> 349/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">
<!--------------------------------------------------------------product alignment------------------------------------------------------------------>
<section class="product-area pt-lg-5 pt-xl-5 pb-lg-5 pb-xl-5">
    <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 text-center">
                <img class="img-fluid" src="../assets/img/tshirts/roundneck-white-004.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-xl-right text-lg-right">
                <h1 class="info-text">Front and Back-side</h1>
                <p class="price-text">Price: <s class="offer">599/-</s> 499/-</p>
                <a href="mailto:y2rwrapcorner@gmail.com" role="button" class="button button-transparent pt-2 pb-2">Buy</a>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<hr width="80%">